/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 16, 2015, 5:01:06 PM
    Author     : sahil1
*/
.nopa {
  padding: 0;
}
.nopal {
  padding-left: 0;
}
.nopar {
  padding-right: 0;
}
.noma {
  margin: 0;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt45 {
  margin-top: 45px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb45 {
  margin-bottom: 45px;
}
input[type=text]:focus,
textarea:focus,
input.form-control:focus,
textarea.form-control:focus {
  background-color: transparent !important;
  border-color: #878c92;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px #878c92;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px #878c92;
}
input[type=text]:hover,
textarea:hover {
  background-color: transparent !important;
  border-color: #878c92;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px #878c92;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px #878c92;
}
